<?xml version="1.0"?>
<!--
Copyright (c) 2019, I3D Robotics Ltd.
-->

<robot name="titania" 
    xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:arg name="camera_name" default="titania"/>
    <xacro:arg name="en_imu" default="false"/>
    <xacro:arg name="en_mesh" default="false"/>

    <xacro:include filename="$(find i3dr_titania)/urdf/titania.urdf.xacro" />
    <xacro:titania_camera camera_name="$(arg camera_name)" en_mesh="$(arg en_mesh)" en_imu="$(arg en_imu)"/>
</robot>